body {
 background-image: url(../img/defaul.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 //background-size:100%;
    //background-attachment: fixed;
    //background-position: center; 
 //   background-color: lightblue;
 
}